# Ignore all data files
data/*
# But keep these samples
!data/final_data_MIDW.csv
!data/final_data_train_MIDW.csv
!data/final_data_test_MIDW.csv
!data/final_data_val_MIDW.csv
!data/weather_power_MIDW.csv
!data/eia_hourly_MIDW.csv
!data/rnn_scaler_MIDW.joblib
!data/MIDW_lstm_3unit_model.h5
!data/MIDW_lstm_3unit_target_scaler.joblib
!data/MIDW_ae_latent_forecast_model.h5
!data/MIDW_ae_rnn_target_scaler.joblib
!data/MIDW_autoencoder.h5
!data/MIDW_encoder.h5
!data/MIDW_xgboost_model.json
!data/MIDW_scenario_analysis_results.csv

# Ignore all figures
figs/*
# But keep these samples
!figs/MIDW_correl_matrix.png
!figs/MIDW_t2m_vs_energy_demand.png
!figs/MIDW_demand_over_time.png
!figs/MIDW_avg_hrly_demand_by_month.png
!figs/MIDW_avg_hrly_solar_gen_by_month.png
!figs/MIDW_avg_hrly_wind_gen_by_month.png
!figs/MIDW_sol_gen_vs_sol_irr.png
!figs/MIDW_wnd_gen_vs_wnd_speed.png
!figs/Naive_pred_results_by_region.png
!figs/XGBoost_train_results_by_region.png
!figs/XGBoost_feature_importance_region.png
!figs/Compare_model_RMSE_barplot_plot.png
!figs/Compare_model_MAE_barplot_plot.png
!figs/Compare_model_MAPE_barplot_plot.png
!figs/Compare_model_R2_barplot_plot.png
!figs/MIDW_lstm_3unit_loss_plot.png
!figs/Reconstruction_Validation_Sample_MIDW_0.png

# Ignore all docs
docs/*
# But keep these for pages
!docs/index.html
!docs/scenario_interchange_map.html
!docs/weather_interactive_map.html

# Python + OS junk
__pycache__/
*.pyc
*.pkl
*.log
*.ipynb
.DS_Store
.env

# PyCharm and virtualenv
.idea/
venv/
